{
  "swagger": "2.0",
  "info": {
    "title": "Symphony",
    "description": "The Microsoft.Symphony Rest API spec.",
    "version": "2020-01-01-preview",
    "x-ms-code-generation-settings": {
      "name": "SymphonyClient"
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Symphony/instances/{instancesName}": {
      "get": {
        "operationId": "instances_Retrieve",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/instancesNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the instances resource.",
            "schema": {
              "$ref": "#/definitions/instances"
            }
          }
        }
      },
      "put": {
        "operationId": "instances_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/instancesNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "instances",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/instances"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the instances resource.",
            "schema": {
              "$ref": "#/definitions/instances"
            }
          },
          "201": {
            "description": "Creates the instances resource.",
            "schema": {
              "$ref": "#/definitions/instances"
            }
          }
        }
      },
      "delete": {
        "operationId": "instances_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/instancesNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the instances resource."
          }
        }
      },
      "patch": {
        "operationId": "instances_Update",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/instancesNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "instances",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/instancesPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the instances resource.",
            "schema": {
              "$ref": "#/definitions/instances"
            }
          },
          "201": {
            "description": "Updates the instances resource.",
            "schema": {
              "$ref": "#/definitions/instances"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Symphony/instances": {
      "get": {
        "operationId": "instances_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all instances under the resouce group.",
            "schema": {
              "$ref": "#/definitions/instancesListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Symphony/instances": {
      "get": {
        "operationId": "instances_ListBySubscription",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all instances under the subscription.",
            "schema": {
              "$ref": "#/definitions/instancesListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Symphony/operations": {
      "get": {
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Describe the result of a successful operation.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderOperationList"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "instancesProperties": {
      "properties": {
        "displayName": {
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "properties": {
            "additionalProperties": {
              "type": "string"
            }
          },
          "additionalProperties": {
            "type": "string"
          }
        },
        "parameters": {
          "type": "object",
          "properties": {
            "additionalProperties": {
              "type": "string"
            }
          },
          "additionalProperties": {
            "type": "string"
          }
        },
        "scope": {
          "type": "string"
        },
        "stage": {
          "type": "string"
        },
        "stages": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "arguments": {
                "type": "object",
                "properties": {
                  "additionalProperties": {
                    "type": "object",
                    "properties": {
                      "additionalProperties": {
                        "type": "string"
                      }
                    },
                    "additionalProperties": {
                      "type": "string"
                    }
                  }
                },
                "additionalProperties": {
                  "additionalProperties": {
                    "type": "string"
                  },
                  "type": "object"
                }
              },
              "name": {
                "type": "string"
              },
              "pipelines": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "parameters": {
                      "type": "object",
                      "properties": {
                        "additionalProperties": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": {
                        "type": "string"
                      }
                    },
                    "skill": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "name",
                    "skill"
                  ]
                },
                "properties": {
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "parameters": {
                        "type": "object",
                        "properties": {
                          "additionalProperties": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": {
                          "type": "string"
                        }
                      },
                      "skill": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "name",
                      "skill"
                    ]
                  }
                }
              },
              "schedule": {
                "type": "string"
              },
              "solution": {
                "type": "string"
              },
              "target": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "selector": {
                    "type": "object",
                    "properties": {
                      "additionalProperties": {
                        "type": "string"
                      }
                    },
                    "additionalProperties": {
                      "type": "string"
                    }
                  }
                }
              },
              "topologies": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "bindings": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "config": {
                            "type": "object",
                            "properties": {
                              "additionalProperties": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": {
                              "type": "string"
                            }
                          },
                          "provider": {
                            "type": "string"
                          },
                          "role": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "provider",
                          "role"
                        ]
                      },
                      "properties": {
                        "items": {
                          "type": "object",
                          "properties": {
                            "config": {
                              "type": "object",
                              "properties": {
                                "additionalProperties": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": {
                                "type": "string"
                              }
                            },
                            "provider": {
                              "type": "string"
                            },
                            "role": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "provider",
                            "role"
                          ]
                        }
                      }
                    },
                    "device": {
                      "type": "string"
                    },
                    "selector": {
                      "type": "object",
                      "properties": {
                        "additionalProperties": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                },
                "properties": {
                  "items": {
                    "type": "object",
                    "properties": {
                      "bindings": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "config": {
                              "type": "object",
                              "properties": {
                                "additionalProperties": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": {
                                "type": "string"
                              }
                            },
                            "provider": {
                              "type": "string"
                            },
                            "role": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "provider",
                            "role"
                          ]
                        },
                        "properties": {
                          "items": {
                            "type": "object",
                            "properties": {
                              "config": {
                                "type": "object",
                                "properties": {
                                  "additionalProperties": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": {
                                  "type": "string"
                                }
                              },
                              "provider": {
                                "type": "string"
                              },
                              "role": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "provider",
                              "role"
                            ]
                          }
                        }
                      },
                      "device": {
                        "type": "string"
                      },
                      "selector": {
                        "type": "object",
                        "properties": {
                          "additionalProperties": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            },
            "required": [
              "name",
              "solution"
            ]
          },
          "properties": {
            "items": {
              "type": "object",
              "properties": {
                "arguments": {
                  "type": "object",
                  "properties": {
                    "additionalProperties": {
                      "type": "object",
                      "properties": {
                        "additionalProperties": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "additionalProperties": {
                    "additionalProperties": {
                      "type": "string"
                    },
                    "type": "object"
                  }
                },
                "name": {
                  "type": "string"
                },
                "pipelines": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "parameters": {
                        "type": "object",
                        "properties": {
                          "additionalProperties": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": {
                          "type": "string"
                        }
                      },
                      "skill": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "name",
                      "skill"
                    ]
                  },
                  "properties": {
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "parameters": {
                          "type": "object",
                          "properties": {
                            "additionalProperties": {
                              "type": "string"
                            }
                          },
                          "additionalProperties": {
                            "type": "string"
                          }
                        },
                        "skill": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "name",
                        "skill"
                      ]
                    }
                  }
                },
                "schedule": {
                  "type": "string"
                },
                "solution": {
                  "type": "string"
                },
                "target": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "selector": {
                      "type": "object",
                      "properties": {
                        "additionalProperties": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                },
                "topologies": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "bindings": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "config": {
                              "type": "object",
                              "properties": {
                                "additionalProperties": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": {
                                "type": "string"
                              }
                            },
                            "provider": {
                              "type": "string"
                            },
                            "role": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "provider",
                            "role"
                          ]
                        },
                        "properties": {
                          "items": {
                            "type": "object",
                            "properties": {
                              "config": {
                                "type": "object",
                                "properties": {
                                  "additionalProperties": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": {
                                  "type": "string"
                                }
                              },
                              "provider": {
                                "type": "string"
                              },
                              "role": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "provider",
                              "role"
                            ]
                          }
                        }
                      },
                      "device": {
                        "type": "string"
                      },
                      "selector": {
                        "type": "object",
                        "properties": {
                          "additionalProperties": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "properties": {
                    "items": {
                      "type": "object",
                      "properties": {
                        "bindings": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "config": {
                                "type": "object",
                                "properties": {
                                  "additionalProperties": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": {
                                  "type": "string"
                                }
                              },
                              "provider": {
                                "type": "string"
                              },
                              "role": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "provider",
                              "role"
                            ]
                          },
                          "properties": {
                            "items": {
                              "type": "object",
                              "properties": {
                                "config": {
                                  "type": "object",
                                  "properties": {
                                    "additionalProperties": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": {
                                    "type": "string"
                                  }
                                },
                                "provider": {
                                  "type": "string"
                                },
                                "role": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "provider",
                                "role"
                              ]
                            }
                          }
                        },
                        "device": {
                          "type": "string"
                        },
                        "selector": {
                          "type": "object",
                          "properties": {
                            "additionalProperties": {
                              "type": "string"
                            }
                          },
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "name",
                "solution"
              ]
            }
          }
        },
        "provisioningState": {
          "type": "string"
        }
      }
    },
    "instances": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/instancesProperties"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Type"
        },
        "location": {
          "type": "string",
          "description": "The resource location"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "extendedLocation": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "description": "The extended location type."
            },
            "name": {
              "type": "string",
              "description": "The extended location name."
            }
          }
        }
      },
      "required": [
        "location"
      ],
      "description": "The instances resource definition."
    },
    "instancesPatch": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "description": "The instances resource patch definition."
    },
    "instancesListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/instances"
          }
        },
        "nextLink": {
          "type": "string"
        }
      }
    },
    "ResourceProviderOperationList": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ResourceProviderOperation"
          }
        },
        "nextLink": {
          "type": "string"
        }
      },
      "description": "Results of the request to list operations."
    },
    "ResourceProviderOperation": {
      "type": "object",
      "properties": {
        "isDataAction": {
          "type": "string",
          "description": "Indicates whether the operation applies to data-plane."
        },
        "name": {
          "type": "string",
          "description": "Operation name, in format of {provider}/{resource}/{operation}"
        },
        "display": {
          "type": "object",
          "properties": {
            "provider": {
              "type": "string",
              "description": "The resource provider."
            },
            "resource": {
              "type": "string",
              "description": "Resource on which the operation is performed."
            },
            "operation": {
              "type": "string",
              "description": "Type of operation: get, read, delete, etc."
            },
            "description": {
              "type": "string",
              "description": "Description of this operation."
            }
          },
          "description": "Display metadata associated with the operation."
        }
      },
      "description": "Results of the request to list operations."
    }
  },
  "parameters": {
    "instancesNameParameter": {
      "name": "instancesName",
      "in": "path",
      "required": true,
      "type": "string",
      "maxLength": 64,
      "minLength": 3
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to be used with the HTTP request (e.g. YYYY-MM-DD)."
    }
  }
}