---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.11.1
  creationTimestamp: null
  name: sites.federation.symphony
spec:
  group: federation.symphony
  names:
    kind: Site
    listKind: SiteList
    plural: sites
    singular: site
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: Site is the Schema for the sites API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            properties:
              isSelf:
                type: boolean
              name:
                type: string
              properties:
                additionalProperties:
                  type: string
                type: object
              secretHash:
                type: string
            type: object
          status:
            properties:
              instanceStatuses:
                additionalProperties:
                  properties:
                    reason:
                      type: string
                    state:
                      type: integer
                  type: object
                type: object
              isOnline:
                type: boolean
              lastReported:
                type: string
              targetStatuses:
                additionalProperties:
                  properties:
                    reason:
                      type: string
                    state:
                      type: integer
                  type: object
                type: object
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
