---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.11.1
  creationTimestamp: null
  name: instances.solution.symphony
spec:
  group: solution.symphony
  names:
    kind: Instance
    listKind: InstanceList
    plural: instances
    singular: instance
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.properties.status
      name: Status
      type: string
    - jsonPath: .status.properties.targets
      name: Targets
      type: string
    - jsonPath: .status.properties.deployed
      name: Deployed
      type: string
    name: v1
    schema:
      openAPIV3Schema:
        description: Instance is the Schema for the instances API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            properties:
              arguments:
                additionalProperties:
                  additionalProperties:
                    type: string
                  type: object
                type: object
              displayName:
                type: string
              generation:
                type: string
              metadata:
                additionalProperties:
                  type: string
                type: object
              parameters:
                additionalProperties:
                  type: string
                type: object
              pipelines:
                items:
                  description: PipelineSpec defines the desired pipeline of the instance
                  properties:
                    name:
                      type: string
                    parameters:
                      additionalProperties:
                        type: string
                      type: object
                    skill:
                      type: string
                  required:
                  - name
                  - skill
                  type: object
                type: array
              reconciliationPolicy:
                description: Optional ReconcilicationPolicy to specify how target
                  controller should reconcile. Now only periodic reconciliation is
                  supported. If the interval is 0, it will only reconcile when the
                  instance is created or updated.
                properties:
                  interval:
                    type: string
                  state:
                    type: string
                required:
                - state
                type: object
              rootResource:
                type: string
              scope:
                type: string
              solution:
                type: string
              target:
                description: TargertRefSpec defines the target the instance will deploy
                  to
                properties:
                  name:
                    type: string
                  selector:
                    additionalProperties:
                      type: string
                    type: object
                type: object
              topologies:
                items:
                  description: TopologySpec defines the desired device topology the
                    instance
                  properties:
                    bindings:
                      items:
                        properties:
                          config:
                            additionalProperties:
                              type: string
                            type: object
                          provider:
                            type: string
                          role:
                            type: string
                        required:
                        - provider
                        - role
                        type: object
                      type: array
                    device:
                      type: string
                    selector:
                      additionalProperties:
                        type: string
                      type: object
                  type: object
                type: array
              version:
                type: string
            required:
            - solution
            type: object
          status:
            properties:
              lastModified:
                format: date-time
                type: string
              properties:
                additionalProperties:
                  type: string
                type: object
              provisioningStatus:
                description: Defines the state of the ARM resource for long running
                  operations
                properties:
                  error:
                    description: Defines an error in the ARM resource for long running
                      operations
                    properties:
                      code:
                        type: string
                      details:
                        items:
                          description: Defines an error for symphony target
                          properties:
                            code:
                              type: string
                            details:
                              items:
                                description: Defines an error for components defined
                                  in symphony
                                properties:
                                  code:
                                    type: string
                                  message:
                                    type: string
                                  target:
                                    type: string
                                type: object
                              type: array
                            message:
                              type: string
                            target:
                              type: string
                          type: object
                        type: array
                      message:
                        type: string
                      target:
                        type: string
                    type: object
                  failureCause:
                    type: string
                  logErrors:
                    type: boolean
                  operationId:
                    type: string
                  output:
                    additionalProperties:
                      type: string
                    type: object
                  status:
                    type: string
                required:
                - operationId
                - status
                type: object
            required:
            - provisioningStatus
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
