---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.11.1
  creationTimestamp: null
  name: campaigns.workflow.symphony
spec:
  group: workflow.symphony
  names:
    kind: Campaign
    listKind: CampaignList
    plural: campaigns
    singular: campaign
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: Campaign is the Schema for the campaigns API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            properties:
              firstStage:
                type: string
              name:
                type: string
              rootResource:
                type: string
              selfDriving:
                type: boolean
              stages:
                additionalProperties:
                  properties:
                    config:
                      x-kubernetes-preserve-unknown-fields: true
                    contexts:
                      type: string
                    inputs:
                      x-kubernetes-preserve-unknown-fields: true
                    name:
                      type: string
                    provider:
                      type: string
                    schedule:
                      properties:
                        date:
                          type: string
                        time:
                          type: string
                        zone:
                          type: string
                      required:
                      - date
                      - time
                      - zone
                      type: object
                    stageSelector:
                      type: string
                    triggeringStage:
                      type: string
                  type: object
                type: object
              version:
                type: string
            type: object
        type: object
    served: true
    storage: true
