##
## Copyright (c) Microsoft Corporation.
## Licensed under the MIT license.
## SPDX-License-Identifier: MIT
##
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.11.1
  creationTimestamp: null
  name: activations.workflow.symphony
spec:
  group: workflow.symphony
  names:
    kind: Activation
    listKind: ActivationList
    plural: activations
    singular: activation
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.nextStage
      name: Next Stage
      type: string
    - jsonPath: .status.status
      name: Status
      type: string
    - jsonPath: .status.updateTime
      name: Update Time
      type: string
    name: v1
    schema:
      openAPIV3Schema:
        description: Activation is the Schema for the activations API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            properties:
              campaign:
                type: string
              generation:
                type: string
              inputs:
                x-kubernetes-preserve-unknown-fields: true
              name:
                type: string
              stage:
                type: string
            type: object
          status:
            properties:
              activationGeneration:
                type: string
              errorMessage:
                type: string
              inputs:
                x-kubernetes-preserve-unknown-fields: true
              isActive:
                type: boolean
              nextStage:
                type: string
              outputs:
                x-kubernetes-preserve-unknown-fields: true
              stage:
                type: string
              status:
                description: State represents a response state
                type: integer
            required:
            - stage
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
