apiVersion: solution.symphony/v1
kind: SolutionContainer
metadata:
  name: dummy-solution  
spec:
---
apiVersion: solution.symphony/v1
kind: Solution
metadata: 
  name: dummy-solution-v-version1
spec:
  rootResource: dummy-solution
  metadata:
  components:
  - name: simulated-sensor
    properties:
      container.version: "1.0"
      container.type: "docker"
      container.image: "mcr.microsoft.com/azureiotedge-simulated-temperature-sensor:1.0"
      container.createOptions: ""
      container.restartPolicy: "always"  
      env.INSTANCE: ${{$instance()}}
    skills:
    - cv-skill