.td-navbar .navbar-brand__name {
    display: none;
}

.btn-success {
    background: #3176d9;
    background-color: #3176d9;
    border-color: #3176d9;
}

.btn {
    border-radius: 10px;
}