$info: #f5b933;
$primary: #f5b933;

input[type="text"] {
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0 40px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 6px;
}

input[type="text"]:focus {
    border: 2px solid #555;
}

.sample {
    display: flex;
    align-items: center;
    max-width: 80%;
}

.navbar {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}