apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "symphony.envConfigName" . }}
  namespace: {{ .Release.Namespace }}
data:
  APP_VERSION: {{ .Chart.AppVersion }}
  CHART_VERSION: {{ .Chart.Version }}
  API_SERVING_CA: {{ include "symphony.apiServingCA" . }}
  SYMPHONY_API_URL: {{ include "symphony.httpsUrl" . }}
  USE_SERVICE_ACCOUNT_TOKENS: "true"
{{- if and .Values.api.labelKey .Values.api.labelValue }}
  LABEL_KEY: {{ .Values.api.labelKey }}
  LABEL_VALUE: {{ .Values.api.labelValue }}
{{- end }}
{{- if .Values.api.annotationKey }}
  ANNOTATION_KEY: {{ .Values.api.annotationKey }}
{{- end }}
  EXTENSION_RESOURCEID: {{ .Values.Azure.Extension.ResourceId }}
