apiVersion: v1
kind: ConfigMap
metadata:
  name: redis-config-map
data:
  redis.conf: |
    protected-mode {{ include "symphony.protectedMode" . }}
    port {{ .Values.redis.port }}
    appendonly yes
    appendfsync always
    dir data
    appenddirname appendonlydir
  
