---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.11.1
  creationTimestamp: null
  name: targets.symphony.microsoft.com
spec:
  group: symphony.microsoft.com
  names:
    kind: Target
    listKind: TargetList
    plural: targets
    singular: target
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.properties.status
      name: Status
      type: string
    name: v1
    schema:
      openAPIV3Schema:
        description: Target is the Schema for the targets API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: TargetSpec defines the desired state of Target
            properties:
              components:
                items:
                  properties:
                    constraints:
                      items:
                        properties:
                          key:
                            type: string
                          operator:
                            type: string
                          qualifier:
                            type: string
                          value:
                            type: string
                          values:
                            items:
                              type: string
                            type: array
                        required:
                        - key
                        type: object
                      type: array
                    dependencies:
                      items:
                        type: string
                      type: array
                    metadata:
                      additionalProperties:
                        type: string
                      type: object
                    name:
                      type: string
                    properties:
                      x-kubernetes-preserve-unknown-fields: true
                    routes:
                      items:
                        properties:
                          filters:
                            items:
                              properties:
                                direction:
                                  type: string
                                parameters:
                                  additionalProperties:
                                    type: string
                                  type: object
                                type:
                                  type: string
                              required:
                              - direction
                              - type
                              type: object
                            type: array
                          properties:
                            additionalProperties:
                              type: string
                            type: object
                          route:
                            type: string
                          type:
                            type: string
                        required:
                        - route
                        - type
                        type: object
                      type: array
                    skills:
                      items:
                        type: string
                      type: array
                    type:
                      type: string
                  required:
                  - name
                  type: object
                type: array
              constraints:
                items:
                  properties:
                    key:
                      type: string
                    operator:
                      type: string
                    qualifier:
                      type: string
                    value:
                      type: string
                    values:
                      items:
                        type: string
                      type: array
                  required:
                  - key
                  type: object
                type: array
              displayName:
                type: string
              forceRedeploy:
                type: boolean
              metadata:
                additionalProperties:
                  type: string
                type: object
              properties:
                additionalProperties:
                  type: string
                type: object
              scope:
                type: string
              topologies:
                items:
                  properties:
                    bindings:
                      items:
                        properties:
                          config:
                            additionalProperties:
                              type: string
                            type: object
                          provider:
                            type: string
                          role:
                            type: string
                        required:
                        - provider
                        - role
                        type: object
                      type: array
                    device:
                      type: string
                    selector:
                      additionalProperties:
                        type: string
                      type: object
                  type: object
                type: array
              version:
                type: string
            type: object
          status:
            description: TargetStatus defines the observed state of Target
            properties:
              lastModified:
                format: date-time
                type: string
              properties:
                additionalProperties:
                  type: string
                description: 'Important: Run "make" to regenerate code after modifying
                  this file'
                type: object
              provisioningStatus:
                description: ProvisioningStatus defines the state of the ARM resource
                  for long running operations
                properties:
                  error:
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                    type: object
                  failureCause:
                    type: string
                  logErrors:
                    type: boolean
                  operationId:
                    type: string
                  output:
                    additionalProperties:
                      type: string
                    type: object
                  status:
                    type: string
                required:
                - operationId
                - status
                type: object
            required:
            - provisioningStatus
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
