---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.11.1
  creationTimestamp: null
  name: solutions.symphony.microsoft.com
spec:
  group: symphony.microsoft.com
  names:
    kind: Solution
    listKind: SolutionList
    plural: solutions
    singular: solution
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: Defines a Solution resource
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: Defines the desired state of Solution
            properties:
              components:
                items:
                  description: Defines a desired runtime component
                  properties:
                    constraints:
                      type: string
                    dependencies:
                      items:
                        type: string
                      type: array
                    metadata:
                      additionalProperties:
                        type: string
                      type: object
                    name:
                      type: string
                    properties:
                      x-kubernetes-preserve-unknown-fields: true
                    routes:
                      items:
                        description: Defines the incoming and outgoing routes of the
                          component
                        properties:
                          filters:
                            items:
                              description: Defines a filter for a route
                              properties:
                                direction:
                                  type: string
                                parameters:
                                  additionalProperties:
                                    type: string
                                  type: object
                                type:
                                  type: string
                              required:
                              - direction
                              - type
                              type: object
                            type: array
                          properties:
                            additionalProperties:
                              type: string
                            type: object
                          route:
                            type: string
                          type:
                            type: string
                        required:
                        - route
                        - type
                        type: object
                      type: array
                    skills:
                      items:
                        type: string
                      type: array
                    type:
                      type: string
                  required:
                  - name
                  - type
                  type: object
                type: array
              displayName:
                type: string
              metadata:
                additionalProperties:
                  type: string
                type: object
              version:
                description: Defines the version of a particular resource
                type: string
            type: object
          status:
            description: Defines the observed state of Solution
            properties:
              properties:
                additionalProperties:
                  type: string
                type: object
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
