@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
}

body {
  background-color: #eee;
  font-family: "Roboto", sans-serif;  
}

.sidebar {
  width: 17rem;  
  height: 100vh;
  background-color: #fff;
  padding: 1rem;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.sidebar_list {
  list-style: none;  
}
.sidebar_item {
  align-items:center;  
}
.sidebar_link {  
  font-size: 1rem;
  text-decoration: none;
  color: black;
  padding: 0.8rem 0.8rem;
  display: flex;
  background-color: #f3f4f6;
  margin-bottom: 0.5rem;
  border-radius: 0.8rem;
  align-items: center;
}
.sidebar_icon {
  display: flex;
  padding-bottom: 0.2rem;
}
.sitecard_icon {
  display: flex;
  font-size: xx-large;
  padding-bottom: 0.2rem;
}
.sidebar_name {
  margin-left: 0.5rem;
}
.sidebar_logo_name {
  font-size: 1.2rem;
  font-weight: 600;
}
.layout {
  display:flex;
  height: 100vh;  
}
.sidebar_wrapper{
  position: relative;
  height: 100vh;
}
.sidebar_toggle {
  position: absolute;
  right: 0;
  top: 4.7rem;
  border: none;
  background-color: #fff;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #e5e7eb;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items:center;
  cursor: pointer;
  transform: translateX(50%);
  font-size: 1.1rem;
}
.main_content{
  width: 100%;
}
[data-collapse=true] {
  width: 5.3rem;
} 

[data-collapse="true"] .sidebar_name,
[data-collapse="true"] .sidebar_logo_name {
  display:none;
}

.sitelist{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;   
  width: 100%; 
  flex-wrap: wrap;
}
.cards_view {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;    
  width:100%;
}
.cards_row {
  flex-wrap: wrap;
  margin-top: 1rem;      
  width:100%;
}
.view_container{
  transform: translateY(-45px);
  height: 100vh;
}
.top_navbar {
  width: 100%;  
  justify-content: start;
}
.table-cell-no-wrap {
  white-space: nowrap;
}
.remote_row {
  background-color: lightblue;
  color: darkgray;
}