apiVersion: v2
name: symphony
description: A Helm chart for Symphony control plane
type: application
# The version is auto updated by the release pipeline, do not change it manually
version: "0.48.45"
# The version is auto updated by the release pipeline, do not change it manually
appVersion: "0.48.45"
dependencies:
  - name: cert-manager
    version: "1.13.1"
    repository: "https://charts.jetstack.io"
    condition: cert-manager.enabled
  - name: zipkin
    version: "0.7.0"
    repository: "https://openzipkin.github.io/zipkin"
    condition: observability.tracing.exporter.zipkin
