apiVersion: v2
name: symphony
description: A Helm chart for Symphony control plane
type: application
# The version is auto updated by the release pipeline, do not change it manually
version: "0.48-exp.24"
# The version is auto updated by the release pipeline, do not change it manually
appVersion: "0.48-exp.24"
dependencies:
  - name: cert-manager
    version: "1.4.0"
    repository: "https://charts.jetstack.io"
  - name: zipkin
    version: "0.7.0"
    repository: "https://openzipkin.github.io/zipkin"
    condition: observability.tracing.exporter.zipkin
