fullnameOverride: symphony
symphonyImage:
  repository: ghcr.io/eclipse-symphony/symphony-k8s
  pullPolicy: IfNotPresent
  tag: "{VERSION}"
paiImage:
  repository: ghcr.io/eclipse-symphony/symphony-api
  pullPolicy: IfNotPresent
  tag: "{VERSION}"
CUSTOM_VISION_KEY: "AAAA"
installServiceExt: true
global:
  azure:
    identity:
      isEnabled: false
observability:
  tracing:
    exporter:
      zipkin: true
zipkin:
  fullnameOverride: symphony-zipkin
cert-manager:
  fullnameOverride: symphony-cert-manager
flavor: oss
redis:
  enabled: true
  image: redis/redis-stack-server:latest
  port: 6379
parent:
  url:
  username: admin
  password:
siteId: hq
imagePrivateRegistryUrl: ghcr.io
api:
  apiContainerPortHttp: 8080
  apiContainerPortHttps: 8081
symphony:
  incluster:
    httpsport: 8081
    httpport: 8080
  extension:
    httpsport: 8081
    httpport: 8080
Azure:
  proxySettings:
    isProxyEnabled: false
    httpProxy: ""
    httpsProxy: ""
    noProxy: ""
    proxyCert: ""
