fullnameOverride: symphony
symphonyImage:
  repository: ghcr.io/eclipse-symphony/symphony-k8s
  pullPolicy: IfNotPresent
  tag: "{VERSION}"
paiImage:
  repository: ghcr.io/eclipse-symphony/symphony-api
  pullPolicy: IfNotPresent
  tag: "{VERSION}"
CUSTOM_VISION_KEY: "AAAA"
installServiceExt: true
global:
  azure:
    identity:
      isEnabled: false
observability:
  tracing:
    exporter:
      zipkin: true
  log:
    emitTimeFieldInUserLogs: 
  # otelCollector are used to collect open telemetry events (logs/metrics) locally. 
  # You need to supply otelCollector GRPC endpoints as otlpLogsEndpointGrpc and otlpMetricsEndpointGrpc.
  # e.g. otlpLogsEndpointGrpc: "symphony-otel-collector-service.REPLACE_NAMESPACE_HERE.svc:4317", 
  #      otlpMetricsEndpointGrpc: "symphony-otel-collector-service.REPLACE_NAMESPACE_HERE.svc:4317"
  otelCollector:
    enabled: false
    image: otel/opentelemetry-collector:0.105.0
  # otelForwarder will convert console logs of Symphony-api and Symphony-controller to OTLP format 
  # and send to otlpLogsEndpointGrpc endpoints.
  otelForwarder:
    enabled: false
    image: otel/opentelemetry-collector-contrib:0.105.0
zipkin:
  fullnameOverride: symphony-zipkin
cert-manager:
  enabled: true
  fullnameOverride: symphony-cert-manager
cert:
  certRenewBeforeTime: 360h
  certDurationTime: 4320h
flavor: oss
 
redis:
  # whether to enable redis pubsub and redis state store
  enabled: true
  # whether to deploy redis as a sidecar of symphony-api
  asSidecar: false
  image: redis/redis-stack-server:7.2.0-v12
  port: 6379
  persistentVolume:
    # whether to enable presistent volume for redis
    enabled: true
    # the storage class where the redis PV is provisioned. Default Sc is used if not specified
    storageClass: ""
    accessMode: ReadWriteOnce
    size: 1Gi

kubeRbacProxy:
  image: gcr.io/kubebuilder/kube-rbac-proxy:v0.8.0
parent:
  url:
  username: admin
  password:
siteId: hq
api:
  apiContainerPortHttp: 8080
  apiContainerPortHttps: 8081
  disableUserCreds:
  openHTTP:
  labelKey:
  labelValue:
  annotationKey: 
symphony:
  uniqueDisplayNameForSolution: false
  incluster:
    httpsport: 8081
    httpport: 8080
  extension:
    httpsport: 8081
    httpport: 8080
# Turn on/off cleanup on finished activations
ActivationCleanup:
  enabled: true
  # Rentention duration for activations, default is 180days
  # units are "ns", "us" (or "µs"), "ms", "s", "m", "h"
  retentionDuration: "4320h"
SummaryCleanup:
  enabled: true
  # Rentention duration for activations, default is 180days
  # units are "ns", "us" (or "µs"), "ms", "s", "m", "h"
  retentionDuration: "4320h"
Azure:
  proxySettings:
    isProxyEnabled: false
    httpProxy: ""
    httpsProxy: ""
    noProxy: ""
    proxyCert: ""
  Extension:
    ResourceId: ""
  Cluster:
    Region: ""
    ResourceId: ""
otlpLogsEndpointGrpc: 
otlpMetricsEndpointGrpc: 
otlpInsecureGrpc: true
RemoteCert:
  ClientCAs: 
    SecretName: 
    SecretKey: 
  Subjects: system:serviceaccount:default:symphony-api-sp;target.symphony.microsoft.com
remoteAgent:
  version: "0.0.0.1"
  used: false
http:
  enabled: true
mqtt:
  enabled: false
  useTLS: false
  brokerAddress: ""
  requestTopic: ""
  responseTopic: ""
  mqttClientCert:
    enabled: false
    secretName: ""
    crt: client.crt
    key: client.key
    mountPath: /etc/mqtt-client