{
  "swagger": "2.0",
  "info": {
    "title": "Symphony",
    "description": "The Microsoft.Symphony Rest API spec.",
    "version": "2020-01-01-preview",
    "x-ms-code-generation-settings": {
      "name": "SymphonyClient"
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Symphony/solutions/{solutionsName}": {
      "get": {
        "operationId": "solutions_Retrieve",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/solutionsNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the solutions resource.",
            "schema": {
              "$ref": "#/definitions/solutions"
            }
          }
        }
      },
      "put": {
        "operationId": "solutions_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/solutionsNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "solutions",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/solutions"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the solutions resource.",
            "schema": {
              "$ref": "#/definitions/solutions"
            }
          },
          "201": {
            "description": "Creates the solutions resource.",
            "schema": {
              "$ref": "#/definitions/solutions"
            }
          }
        }
      },
      "delete": {
        "operationId": "solutions_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/solutionsNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the solutions resource."
          }
        }
      },
      "patch": {
        "operationId": "solutions_Update",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/solutionsNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "solutions",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/solutionsPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the solutions resource.",
            "schema": {
              "$ref": "#/definitions/solutions"
            }
          },
          "201": {
            "description": "Updates the solutions resource.",
            "schema": {
              "$ref": "#/definitions/solutions"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Symphony/solutions": {
      "get": {
        "operationId": "solutions_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all solutions under the resouce group.",
            "schema": {
              "$ref": "#/definitions/solutionsListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Symphony/solutions": {
      "get": {
        "operationId": "solutions_ListBySubscription",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all solutions under the subscription.",
            "schema": {
              "$ref": "#/definitions/solutionsListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Symphony/operations": {
      "get": {
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Describe the result of a successful operation.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderOperationList"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "solutionsProperties": {
      "properties": {
        "components": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "constraints": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string"
                    },
                    "operator": {
                      "type": "string"
                    },
                    "qualifier": {
                      "type": "string"
                    },
                    "value": {
                      "type": "string"
                    },
                    "values": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "properties": {
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "required": [
                    "key"
                  ]
                },
                "properties": {
                  "items": {
                    "type": "object",
                    "properties": {
                      "key": {
                        "type": "string"
                      },
                      "operator": {
                        "type": "string"
                      },
                      "qualifier": {
                        "type": "string"
                      },
                      "value": {
                        "type": "string"
                      },
                      "values": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "properties": {
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "required": [
                      "key"
                    ]
                  }
                }
              },
              "dependencies": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "properties": {
                  "items": {
                    "type": "string"
                  }
                }
              },
              "metadata": {
                "type": "object",
                "properties": {
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "additionalProperties": {
                  "type": "string"
                }
              },
              "name": {
                "type": "string"
              },
              "properties": {
                "type": "object",
                "properties": {
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "additionalProperties": {
                  "type": "string"
                }
              },
              "routes": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "filters": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "direction": {
                            "type": "string"
                          },
                          "parameters": {
                            "type": "object",
                            "properties": {
                              "additionalProperties": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": {
                              "type": "string"
                            }
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "direction",
                          "type"
                        ]
                      },
                      "properties": {
                        "items": {
                          "type": "object",
                          "properties": {
                            "direction": {
                              "type": "string"
                            },
                            "parameters": {
                              "type": "object",
                              "properties": {
                                "additionalProperties": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": {
                                "type": "string"
                              }
                            },
                            "type": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "direction",
                            "type"
                          ]
                        }
                      }
                    },
                    "properties": {
                      "type": "object",
                      "properties": {
                        "additionalProperties": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": {
                        "type": "string"
                      }
                    },
                    "route": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "route",
                    "type"
                  ]
                },
                "properties": {
                  "items": {
                    "type": "object",
                    "properties": {
                      "filters": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "direction": {
                              "type": "string"
                            },
                            "parameters": {
                              "type": "object",
                              "properties": {
                                "additionalProperties": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": {
                                "type": "string"
                              }
                            },
                            "type": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "direction",
                            "type"
                          ]
                        },
                        "properties": {
                          "items": {
                            "type": "object",
                            "properties": {
                              "direction": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "object",
                                "properties": {
                                  "additionalProperties": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": {
                                  "type": "string"
                                }
                              },
                              "type": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "direction",
                              "type"
                            ]
                          }
                        }
                      },
                      "properties": {
                        "type": "object",
                        "properties": {
                          "additionalProperties": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": {
                          "type": "string"
                        }
                      },
                      "route": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "route",
                      "type"
                    ]
                  }
                }
              },
              "skills": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "properties": {
                  "items": {
                    "type": "string"
                  }
                }
              },
              "type": {
                "type": "string"
              }
            },
            "required": [
              "name"
            ]
          },
          "properties": {
            "items": {
              "type": "object",
              "properties": {
                "constraints": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "key": {
                        "type": "string"
                      },
                      "operator": {
                        "type": "string"
                      },
                      "qualifier": {
                        "type": "string"
                      },
                      "value": {
                        "type": "string"
                      },
                      "values": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "properties": {
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "required": [
                      "key"
                    ]
                  },
                  "properties": {
                    "items": {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string"
                        },
                        "operator": {
                          "type": "string"
                        },
                        "qualifier": {
                          "type": "string"
                        },
                        "value": {
                          "type": "string"
                        },
                        "values": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "properties": {
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "required": [
                        "key"
                      ]
                    }
                  }
                },
                "dependencies": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "properties": {
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "metadata": {
                  "type": "object",
                  "properties": {
                    "additionalProperties": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "name": {
                  "type": "string"
                },
                "properties": {
                  "type": "object",
                  "properties": {
                    "additionalProperties": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "routes": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "filters": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "direction": {
                              "type": "string"
                            },
                            "parameters": {
                              "type": "object",
                              "properties": {
                                "additionalProperties": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": {
                                "type": "string"
                              }
                            },
                            "type": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "direction",
                            "type"
                          ]
                        },
                        "properties": {
                          "items": {
                            "type": "object",
                            "properties": {
                              "direction": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "object",
                                "properties": {
                                  "additionalProperties": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": {
                                  "type": "string"
                                }
                              },
                              "type": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "direction",
                              "type"
                            ]
                          }
                        }
                      },
                      "properties": {
                        "type": "object",
                        "properties": {
                          "additionalProperties": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": {
                          "type": "string"
                        }
                      },
                      "route": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "route",
                      "type"
                    ]
                  },
                  "properties": {
                    "items": {
                      "type": "object",
                      "properties": {
                        "filters": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "direction": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "object",
                                "properties": {
                                  "additionalProperties": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": {
                                  "type": "string"
                                }
                              },
                              "type": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "direction",
                              "type"
                            ]
                          },
                          "properties": {
                            "items": {
                              "type": "object",
                              "properties": {
                                "direction": {
                                  "type": "string"
                                },
                                "parameters": {
                                  "type": "object",
                                  "properties": {
                                    "additionalProperties": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": {
                                    "type": "string"
                                  }
                                },
                                "type": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "direction",
                                "type"
                              ]
                            }
                          }
                        },
                        "properties": {
                          "type": "object",
                          "properties": {
                            "additionalProperties": {
                              "type": "string"
                            }
                          },
                          "additionalProperties": {
                            "type": "string"
                          }
                        },
                        "route": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "route",
                        "type"
                      ]
                    }
                  }
                },
                "skills": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "properties": {
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "type": {
                  "type": "string"
                }
              },
              "required": [
                "name"
              ]
            }
          }
        },
        "displayName": {
          "type": "string",
          "description": "Important: Run \"make\" to regenerate code after modifying this file"
        },
        "metadata": {
          "type": "object",
          "properties": {
            "additionalProperties": {
              "type": "string"
            }
          },
          "additionalProperties": {
            "type": "string"
          }
        },
        "provisioningState": {
          "type": "string"
        }
      }
    },
    "solutions": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/solutionsProperties"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Type"
        },
        "location": {
          "type": "string",
          "description": "The resource location"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "extendedLocation": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "description": "The extended location type."
            },
            "name": {
              "type": "string",
              "description": "The extended location name."
            }
          }
        }
      },
      "required": [
        "location"
      ],
      "description": "The solutions resource definition."
    },
    "solutionsPatch": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "description": "The solutions resource patch definition."
    },
    "solutionsListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/solutions"
          }
        },
        "nextLink": {
          "type": "string"
        }
      }
    },
    "ResourceProviderOperationList": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ResourceProviderOperation"
          }
        },
        "nextLink": {
          "type": "string"
        }
      },
      "description": "Results of the request to list operations."
    },
    "ResourceProviderOperation": {
      "type": "object",
      "properties": {
        "isDataAction": {
          "type": "string",
          "description": "Indicates whether the operation applies to data-plane."
        },
        "name": {
          "type": "string",
          "description": "Operation name, in format of {provider}/{resource}/{operation}"
        },
        "display": {
          "type": "object",
          "properties": {
            "provider": {
              "type": "string",
              "description": "The resource provider."
            },
            "resource": {
              "type": "string",
              "description": "Resource on which the operation is performed."
            },
            "operation": {
              "type": "string",
              "description": "Type of operation: get, read, delete, etc."
            },
            "description": {
              "type": "string",
              "description": "Description of this operation."
            }
          },
          "description": "Display metadata associated with the operation."
        }
      },
      "description": "Results of the request to list operations."
    }
  },
  "parameters": {
    "solutionsNameParameter": {
      "name": "solutionsName",
      "in": "path",
      "required": true,
      "type": "string",
      "maxLength": 64,
      "minLength": 3
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to be used with the HTTP request (e.g. YYYY-MM-DD)."
    }
  }
}