apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "symphony.fullname" . }}-api
  labels:
    app: {{ include "symphony.appSelector" . }}
  namespace: {{ .Release.Namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ include "symphony.appSelector" . }}
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: {{ include "symphony.appSelector" . }}
    spec:
      {{- with .Values.affinity }}
      affinity:
        {{ toYaml . | indent 8 }}
      {{- end }}
      serviceAccountName: {{ include "symphony.serviceAccountName" . }}
      {{- if and .Values.Azure.proxySettings.isProxyEnabled .Values.Azure.proxySettings.proxyCert }}
      initContainers:
      - name: init-porxy-cert-dir
        image: mcr.microsoft.com/mirror/docker/library/busybox:1.35
        command: ['sh', '-c', "mkdir -p /etc/pki/ca-trust/extracted/pem /etc/pki/ca-trust/extracted/openssl /etc/pki/ca-trust/extracted/java /etc/pki/ca-trust/extracted/edk2"]
        volumeMounts:
          - name: ssl-certs
            mountPath: /etc/pki/ca-trust/extracted/
      {{ end }}
      containers:
      - name: symphony-api
        securityContext: {{- toYaml .Values.securityContext | nindent 12 }}
        image: {{ .Values.paiImage.repository }}:{{ .Values.paiImage.tag }}
        imagePullPolicy: {{ .Values.paiImage.pullPolicy }}
        ports:
        {{- if ne .Values.api.openHTTP false }}
        - containerPort: {{ include "symphony.apiContainerPortHttp" . }}
        {{- end }}  
        - containerPort: {{ include "symphony.apiContainerPortHttps" . }}
        env:          
          - name: "HELM_NAMESPACE"
            value: default
          - name: "CONFIG"
            value: /etc/symphony-api/config/symphony-api.json
          - name: POD_NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          - name: SERVICE_ACCOUNT_NAME
            valueFrom:
              fieldRef:
                fieldPath: spec.serviceAccountName
          - name: SYMPHONY_CONTROLLER_SERVICE_ACCOUNT_NAME
            value: '{{ include "symphony.fullname" . }}-controller-manager'
          - name: IDENTITY_ENDPOINT
            value: "http://127.0.0.1:8421/metadata/identity/oauth2/token"
          - name: IDENTITY_HEADER
            value: "ArcK8s"
        envFrom:
        - secretRef:
            name: {{ include "symphony.fullname" . }}-auth
        {{ if .Values.Azure.proxySettings.isProxyEnabled }}
        - secretRef:
            name: {{ include "symphony.fullname" . }}-proxy-config
        {{ end }}
        - configMapRef:
            name: {{ include "symphony.envConfigName" . }}

        volumeMounts:
        {{- if (not .Values.otlpInsecureGrpc) }}
        - name: trust-bundle
          mountPath: "/certs"
          readOnly: true
        {{- end }}
        - name: symphony-api-config
          mountPath: /etc/symphony-api/config
        - mountPath: /var/run/secrets/tokens
          name: symphony-api-token
        - mountPath: {{ include "symphony.apiServingCertsDir" . }}
          name: serving-cert
          readOnly: true
        {{- if and .Values.Azure.proxySettings.isProxyEnabled .Values.Azure.proxySettings.proxyCert }}
        - name: ssl-certs
          mountPath: /etc/pki/ca-trust/extracted/
          readOnly: false
        - mountPath: /etc/pki/ca-trust/source/anchors/proxy-cert.crt
          subPath: proxy-cert.crt
          name: proxy-certstore
        {{- end }}
      {{- if and .Values.redis.enabled .Values.redis.asSidecar }}
      - name: redis
        image: {{ .Values.redis.image }}
        command: ["redis-server", "/usr/var/redis/redis.conf"]
        ports:
        - containerPort: {{ .Values.redis.port }}
        volumeMounts:
        - name: redis-config
          mountPath: /usr/var/redis
        {{- if .Values.redis.persistentVolume.enabled }}
        - name: redis-data
          mountPath: /data
        {{- end }}
      {{- end}}
      {{- if .Values.global.azure.identity.mSIAdapterYaml }}
      - name: msi-adapter
        env:
        - name: TOKEN_NAMESPACE
          value: {{ .Release.Namespace }}
        - name: ENABLE_LOCALHOST_TOKEN_ENDPOINT
          value: "true"
        {{- .Values.global.azure.identity.mSIAdapterYaml | nindent 8 }}
      {{- end }}
      volumes:
        {{- if (not .Values.otlpInsecureGrpc) }}
        - name: trust-bundle
          configMap:
            name: {{ .Values.observability.tls.caBundleConfigMap }}
        {{- end }}
        - name: symphony-api-config
          configMap:
            name: {{ include "symphony.configmapName" . }}
        - name: symphony-api-token
          projected:
            sources:
            - serviceAccountToken:
                path: symphony-api-token
                expirationSeconds: 600
                audience: {{ include "symphony.httpsUrl" . }}
        - name: serving-cert
          secret:
            secretName: {{ include "symphony.apiServingCertName" . }}
        {{- if and .Values.Azure.proxySettings.isProxyEnabled .Values.Azure.proxySettings.proxyCert }}
        - name: proxy-certstore
          secret:
            secretName: {{ include "symphony.fullname" . }}-proxy-cert
        - name: ssl-certs
          emptyDir: {}
        {{ end }}
        {{- if and .Values.redis.enabled .Values.redis.asSidecar }}
        - name: redis-config
          configMap:
            name: redis-config-map
            items:
            - key: redis.conf
              path: redis.conf
        {{- if .Values.redis.persistentVolume.enabled }}
        - name: redis-data
          persistentVolumeClaim:
            claimName: redis-pvc
        {{- end }}
        {{- end }}
